<%- include('../partials/header') %>
<!-- This is for the calendar drop down for choosing departing flight -->
<!-- <input type="datetime-local"> -->
<form action="/flights" method="POST" autocomplete="off">
    <label>Airline:</label>
    <br>
    <select name="airline">
      <option value="American" selected>American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <br>
    <br>
    <label>Flight Number:</label>
    <br>
    <input type="text" name="flightNo">
    <br>
    <br>
    <label>Origin:</label>
    <br>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <br>
    <br>
    <label>Departure Date & Time:</label>
    <br>
    <input type="datetime-local" name="departs">
    <br>
    <br>
    <br>
    <input type="submit" value="Add Flight">
  </form>







<%- include('../partials/footer') %>